<!DOCTYPE html>
<html lang="es">
<head>
     
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Integrador Argentina Programa 4.0</title>
    <link rel="icon" type= "image/png" href="../img/favicom.ico">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  

    <div id="c1">
        <div class="grid">
            <div id="elemento1">
                <img id="#img1" src="../img/user.png" alt="">
                <h1 id="name">Nombre Apellido</h1>
            </div>
        
            <div id="elemento3">
                <h3>Informacion personal</h3>
                <ul id="info">
                    <li>Lorem ipsum dolor sit amet.</li>
                    <br>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <br>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <br>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <br>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <br>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <br>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <br>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <br>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <br>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>
        
            </div>
        
            <div id="elemento4">

                <h3>Discripcion de la Persona</h3>
                <p id="parrafo">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis, dolorum laudantium magni 
                    voluptas quo aspernatur cumque atque totam illo dolore nulla est optio veniam fugiat perspiciatis, 
                    quidem molestias laboriosam odio doloribus iusto blanditiis explicabo, rerum pariatur vero! 
                    Unde doloribus, blanditiis voluptates dolore non sint quos voluptas aut culpa porro possimus 
                    corporis recusandae excepturi laudantium, quisquam quaerat laboriosam id soluta. Voluptatibus 
                    error necessitatibus, ipsa impedit enim tempore porro dolores officia in, quis aliquid nostrum 
                    beatae ad vero sunt similique dolorem, assumenda quam vel quas est dicta molestiae. Cum nulla 
                    at laboriosam, facilis magnam commodi sunt impedit sint, minus soluta, hic similique.</p>
        
            </div>
        
        <div id="elemento5">
            <footer>
              <div class="banner-wrapper">
                <div class="icon-text">
                  <div class="icon-text-icon">
                    <ul class="footer-nav">
                      <li>
                        <a href="ProyectoIntegrador.html">Home</a>
                      </li>
                      <li>
                        <a href="#">Skills</a>
                      </li>
                      <li>
                        <a href="#">Portfolio</a>
                      </li>
                      <li>
                        <a href="#">Our Team</a>
                      </li>
                      <li>
                        <a href="#">Contact</a>
                      </li>
                    </ul>
                  </div>
                  <div class="icon-text-text">
                    <ul class="social">
                      <li>
                        <a href="mailto:contact@faztweb.com">
                          <i class="fa fa-envelope-o"></i>
                        </a>
                      </li>
                      <li>
                        <a href="https://es-la.facebook.com/">
                          <i class="fa fa-facebook"></i>
                        </a>
                      </li>
                      <li>
                        <a href="https://twitter.com/?lang=es">
                          <i class="fa fa-twitter"></i>
                        </a>
                      </li>
                      <li>
                        <a href="https://www.youtube.com/?hl=es-419&gl=AR">
                          <i class="fa fa-youtube"></i>
                        </a>
                      </li>
                      <li>
                        <a href="https://www.instagram.com/">
                          <i class="fa fa-instagram"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </footer>
            <footer class="second-footer">
              <p>
                &copy; <a href="http://faztweb.com">FaztWeb.com</a>
              </p>
            </footer>
        </div>
    </div>
    <script src="../javascript/main.js">

    </script>
</body>
</html>